[alias]
  a   = add
  b   = branch
  c   = commit
  co  = checkout
  cp  = cherry-pick
  d   = diff
  dt  = difftool
  l   = log
  m   = merge
  pl  = pull
  ps  = push
  r   = reset
  rb  = rebase --autostash
  rbc = rebase --continue
  rbi = rebase -i --autostash
  s   = status
  st  = stash
  up  = pull --rebase --autostash
  wt  = worktree
[color]
  ui = auto
[config]
  autosetuprebase = always
[core]
  autocrlf = input
  editor = vim
  excludesfile = /Users/jacobhayes/.gitignore_global
[credential]
  helper = osxkeychain
[github]
  user = JacobHayes
[push]
  default = simple
[user]
  name = Jacob Hayes
  email = jacob.r.hayes@gmail.com
[url "git@github.com:"]
  pushInsteadOf = https://github.com/ # Use ssh keys, even if cloned with http
[diff]
  tool = vimdiff
[difftool]
  prompt = off
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
