[alias]
  a   = add
  b   = branch
  c   = commit
  co  = checkout
  d   = diff
  l   = log
  pl  = pull
  ps  = push
  r   = reset
  rb  = rebase
  rbi = rebase -i
  s   = status
  st  = stash
[color]
  ui = auto
[config]
  autosetuprebase = always
[core]
  autocrlf = input
  editor = vim
[credential]
  helper = osxkeychain
[github]
  user = JacobHayes
[push]
  default = simple
[user]
  name = Jacob Hayes
  email = jacob.r.hayes@gmail.com
