bash
coreutils
ctags
curl
diffutils
findutils --with-default-names
fish
gawk
git
gnu-sed --with-default-names
gnu-tar --with-default-names
gnu-time --with-default-names
go
grep --with-default-names
gzip
hub
jq
less
luajit
make --with-default-names
openssh
openssl
python
python3
readline
reattach-to-user-namespace
recode
shellcheck
the_silver_searcher
tmux
tree
vim --with-luajit --with-override-system-vi --with-python3
watch
